<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    {% for obj in object_list %}
     <p>{{ obj.owner }}</p>
     <p>{{ obj.keeper }}</p>
     <p>{{ obj.pet }}</p>
    <p> --------------------------------------------- </p>
    {% endfor %}
</div>

</body>
</html>