<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <h1> DIAS DISPONIBLES: </h1>
    </div>
    {% for obj in object_list %}
        <p>{{ object.pk }}</p>
        {% if pk == obj.keeper.pk  %}
            <p>{{ object.day }}</p>
            <button type="submit" title="Reservar" name="Reserva">Reservar Día</button>
            <p> --------------------------------------------- </p>
        {% endif %}
    {% endfor %}



</div>

</body>
</html>