<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <h1> KEEPER: </h1>
    </div>
        <p>Nombre: {{ object.first_name }}</p>
        <p>Apellido: {{ object.username }}</p>
        <p>Telefono: {{ object.phone }}</p>
        <p>Tamaño de mascota que cuida: {{ object.pet_size }}</p>
        <p>Precio: ${{ object.keep_price }}</p>
        <p> --------------------------------------------- </p>
        <p> --------------------------------------------- </p>
        <p> BOOKINGS: </p>
            {% if object.get_all_bookings.count > 0  %}
                {% for book in object.get_all_bookings %}
                    <p>{{ book.pk }}</p>
                {% endfor %}
            {% else %}
                <p>No posee bookings</p>
            {% endif %}
        <p> --------------------------------------------- </p>
        <p> --------------------------------------------- </p>
        <p> DIAS DISPONIBLES: </p>
            {% if object.get_all_availability.count > 0  %}
                {% for day in object.get_all_availability %}
                    <span>{{ day.day }}</span>
                    <button type="submit" title="Reservar" name="Reserva">Reservar Día</button>
                    <p> --------------------------------------------- </p>
                {% endfor %}
            {% else %}
                <p>No posee días disponibles</p>
            {% endif %}
</div>

</body>
</html>