<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        {{date}}
    </div>
     <p>{{ object.first_name }}</p>
     <p>{{ object.username }}</p>
     <li><a href="{% url 'dias-disponibles' pk=obj.pk %}">Ver Dias Disponibles</a></li>
     <p> BOOKINGS: </p>
     {% for book in object.get_all_bookings %}
        <p>{{ book.pk }}</p>
     {% endfor %}
</div>

</body>
</html>