<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <h1> KEEPER: </h1>
    </div>
        {% for obj in object_list %}
            <p>{{ obj.pk }}</p>
            <p>User: {{ obj.username }}</p>
            <p>First Name: {{ obj.first_name }}</p>
            <li><a href="{% url 'detalle_usuario' pk=obj.pk %}">Ver Datos</a></li>
            <p> --------------------------------------------- </p>
        {% endfor %}
</div>
</body>
</html>